body{
	background-color: #A9CCE3;
	font-family: Arial
}

h1{text-align:center;}

contenedor{
	margin:150px auto;
	width:600px;
	text-align:center;
}
table{
	background-color: white;
	text-align:center;
	width:60%;
	margin:auto;
}

th,td{
	border: solid 1px black;
	padding:10px
}

thead{
	background-color:black;
	border-bottom:solid 5px #0F362D;
	color:white;
}
tr:nth-child(even){
	background-color:#ddd;
}

tr:hover td{
	background-color:black;
	color:white;
}

.btn{
	border-radius:3px;
	padding:20px 15px;
	border: none;
	text-decoration:none;
	width:20%;
	
	text-shadow:0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	font-size:20px
	
}

.btn-green{
	color:white;
	background-color:#3CC93F;
}

.btn-green:hover{
	background-color:#37B839;
}

.btn-green:activate{
	background-color:#29962A;
}

.bt{
	
	border: none;
	text-decoration:none;
	
	text-shadow:0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	font-size:17px
}

.btn-red{
	color:white;
	background-color:#E34242;
}

.btn-red:hover{
	background-color:#C43535;
}

.btn-red:activate{
	background-color:#A62828;
}

.btn-blue{
	color:white;
	background-color:#68A4E4;
}

.btn-blue:hover{
	background-color:#3F8FE4;
}

.btn-blue:activate{
	background-color:#0873E4;
}
